* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.threeDSceneContainer {
  height: 100vh;
  width: 50vw;
  margin: 0 auto; /* Center the container horizontally */
  /* background-color: #f5f5f5; Optional background color for the container */
}
.threeDstdlib {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
}
